@model IEnumerable<HmsNet.UI.Models.BillDto>

<h2>Transactions </h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Bill ID</th>
            <th>Order ID</th>
            <th>Table Id</th>
            <th>Bill Date</th>
            <th>Total Amount</th>
            <th>Final Amount</th>
            <th>Payment Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bill in Model)
        {
            <tr>
                <td>@bill.BillId</td>
                <td>@bill.OrderId</td>
                <td>@bill.TableId</td>
                <td>@bill.BillDateTime.ToString("g")</td>
                <td>@bill.TotalAmount</td>
                <td>@bill.FinalAmount</td>
                <td>@bill.PaymentStatus</td>
            </tr>
        }
    </tbody>
</table>
